main {
    display: flex;
    flex-direction: row;
}

.list {
    display: flex;
    flex-direction: column;
}

.song-active {
    font-weight: bold;
    color: #4CAF50;
}

.album-active {
    font-weight: bold;
    color: #4CAF50;
}