
.desktop,
.mobile{
    display:none;
}

.list.mobile.open{
    display:block;
}

.list.mobile{
    position:absolute;

    top:50px;
    width:50%;
    max-height:70vh;

    overflow-y:auto;

    background:#111;
    display:none;

    z-index:5;
}

#album_list_mobile{
    left:0;
}

#song_list_mobile{
    right:0;
}

.song-btn,
.album-btn{
    display:block;
    width: 100%;

    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.song-active,
.album-active {
    font-weight: bold;
    color: #0fdf16;
}

.song-btn:hover,
.album-btn:hover {
    background-color: #FFC229;
    box-shadow: #FF6314 0 -6px 8px inset;
    transform: scale(1.125);
}

.song-btn:active,
.album-btn:active {
    transform: scale(1.025);
}