@media (min-width:768px){

    main{
        padding-top: 0;
        display:flex;
        flex-direction: row;
    }

    .mobile,
    .mobile-tabs{
        display:none;
    }

    .desktop{
        display:block;
        flex:1;
    }

    #album_list_mobile,
    #song_list_mobile{
        display:none;
    }

    .list{
        flex:1;
    }

    .player{
        flex:2;
    }

}